
@font-face {
  font-family: "Iconify Explorer Font";
  src: url("./iconfont.eot");
  src: url("./iconfont.eot") format("embedded-opentype"),
       url("./iconfont.ttf") format("truetype"),
       url("./iconfont.woff") format("woff"),
       url("./iconfont.woff2") format("woff2"),
       url("./iconfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.i {
  font-family: "Iconify Explorer Font" !important;
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.i.bx\:bxs-compass:before {
content: "\e001";
}

.i.fluent\:search-12-filled:before {
content: "\e002";
}

.i.ic\:sharp-person:before {
content: "\e003";
}

.i.material-symbols\:pin-drop-rounded:before {
content: "\e004";
}

.i.material-symbols\:star-rounded:before {
content: "\e005";
}

.i.mdi\:document:before {
content: "\e006";
}

.i.octicon\:triangle-down-24:before {
content: "\e007";
}

.i.ph\:house-fill:before {
content: "\e008";
}

